.title {
  font-size: 2.44444em;
}

.text {
  color: #4c5267;
  margin: 0 0 1em;
}

.image {
  border-style: none;
  vertical-align: middle;
  @media only screen and (min-width: 801px) {
    max-width: 58%;
  }
}

.content {
  @media only screen and (min-width: 801px) {
    max-width: 42%;
    flex: 0 0 42%;
  }
}

.button-block {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.66667em 0 1em;
  text-align: center;
  @media only screen and (min-width: 801px) {
    justify-content: flex-end;
  }
}

.button {
  text-decoration: none;
  background: transparent;
  color: #0072ff;
  font-size: 0.88889em;
  font-weight: bold;
  margin: 0 0.375em 1.125em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  border: 2px solid #0072ff;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0.5em 1.875em;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
}
