.inner-toolbar {
  /*site heade inside*/
  display: flex;
  align-items: center;
}

.Toolbar {
  /* header site header outer*/
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  color: #2c2f3b;
  padding-bottom: 1em;
  padding-top: 1em;
}

.Toolbar nav {
  margin-left: auto;
}

@media (max-width: 799px) {
  .DesktopOnly {
    display: none;
  }
}
