.inner-toolbar {
  /*site heade inside*/
  display: flex;
  align-items: center;
}

.Toolbar {
  /* header site header outer*/
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  color: #2c2f3b;
  padding: 1em 4vw;
  top: 0;
  left: 0;
  @media (max-width: 799px) {
    position: absolute;
    width: 100%;
    transition: opacity 0.15s ease-in-out, visibility 0s ease-in-out 0.15s;
  }
}

.Toolbar nav {
  margin-left: auto;
}

@media (max-width: 799px) {
  .DesktopOnly {
    display: none;
  }
}
