@import "../../assets/variables.scss";

.common-page {
  text-align: center;
}

.title {
  font-size: 2em;
  @media only screen and (min-width: $mid-screen) {
    font-size: 2.44444em;
  }
}

.subtitle {
  text-align: center;
}

.image {
  margin-bottom: 2.5em;
  border-radius: 3px;
  border-style: none;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

.main-text {
  text-align: left;
  color: #4c5267;
}
