@import "../../../../assets/variables.scss";

.common {
  @media (max-width: $mid-screen) {
    flex: 0 0 50%;
    justify-content: left;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media (max-width: $small-screen) {
    flex: 0 0 100%;
  }
}

a {
  text-decoration: none;
  margin-bottom: 0.75em;
  font-size: 00.88889rem;
  line-height: 1.5;
  text-underline-offset: 0.125em;
  color: #999fb3;
}
