.NavigationItems {
  list-style: none;
  li {
    font-size: 0.88889rem;
    line-height: 1.5;
  }
  li:first-child {
    border-top: 1px solid #ebecf0;
  }
}

@media (min-width: 800px) {
  .NavigationItems {
    flex-flow: row;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    flex-flow: column;
    height: 100%;
    color: inherit;
    list-style: none;
    li:first-child {
      border-top: none;
    }
  }
}
