.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: transform 0.4s ease-in-out, visibility 0s 0.3s ease-in-out;
  background-color: #fff;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(200%);
}

.Logo {
  height: 11%;
  width: 100%;
  margin-bottom: 32px;
}

@media (min-width: 800px) {
  .SideDrawer {
    display: none;
  }
}
