.NavigationItem {
  text-align: inherit;
  border-bottom: 1px solid #ebecf0;
  padding: 0.75em 0;
  text-decoration: none;
}

.NavigationItem a {
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #7b839e;
}

@media (min-width: 800px) {
  .NavigationItem {
    display: inline-block;
    margin: 0 0 0 1.875em;
    text-align: inherit;
    font-size: 0.88889rem;
    line-height: 1.5;
    text-align: -webkit-match-parent;
    border-bottom: none;
    border-top: none;
    padding: inherit;
  }

  .NavigationItem a {
    color: inherit;
    text-underline-offset: 0.125em;
    text-decoration: none;
    transition: color 0.15s ease;
    background-color: transparent;
  }
}
