.main-section {
  background: linear-gradient(to right, #0072ff, #00c6ff);
  text-align: center;
}

.mainHero {
  color: #fff;
  padding: 3.33333em 4vw 2.5em;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.image {
  display: block;
  color: inherit;
  box-sizing: border-box;
  padding-left: 0.833335rem;
  padding-right: 0.833335rem;
  position: relative;
  margin-bottom: 1.66667em;
  text-align: center;
  flex: 0 0 58.333%;

  height: auto;
  @media (min-width: 800px) {
    max-width: 58.333%;
  }
}

.content {
  flex: 0 0 41.666%;

  text-align: center;
  box-sizing: border-box;
  padding-left: 0.833335rem;
  padding-right: 0.833335rem;
  position: relative;
  width: 100%;

  @media (min-width: 800px) {
    text-align: left;
    max-width: 41.666%;

    h2:after {
      border-left: 1.5em solid #fff;
      display: block;
      content: "";
      height: 2px;
      margin-top: 0.5em;
    }
  }
}

.content h2 {
  color: inherit;
  margin-top: 0;
  font-size: 2.44444em;
  position: relative;
  line-height: 1.16667;
  margin: 1.25em 0 0.5em;
  text-rendering: optimizeLegibility;
}

.content div {
  text-align: left;
  margin: 0 0 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #fff;
}

.button {
  margin-left: 0;
  margin-right: 0.75em;
  background: #fff;
  border-color: #fff;
  color: #0072ff;
  padding: 10px 40px;
  font-size: 0.88889em;
  font-weight: bold;
  margin: 0 0.375em 1.125em;
  align-items: center;
  border: 2px solid #0072ff;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1.5;
  transition: opacity 0.15s ease-in-out;
  text-underline-offset: 0.125em;
}
