.testimonials-section {
  background: #fff;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item {
    max-width: 450px;
    &:not(:first-child) {
      margin-top: 1.66667rem;
    }
  }

  @media only screen and (min-width: 900px) {
    flex-direction: row;
    align-items: stretch;

    .item {
      max-width: 33.333%;
      &:not(:first-child) {
        margin-top: 0;
        margin-left: 1.66667rem;
      }
    }
  }
}
