.section {
  padding: 3.33333em 4vw 2.5em;

  @media only screen and (min-width: 601px) {
    padding-bottom: 3.33333em;
    padding-top: 4.16667em;
  }
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.title {
  font-size: 1.66667em;
  margin: 0 0 0.25em;
}

.subtitle {
  color: #7b839e;
  line-height: 1.5;
  max-width: 555px;
  margin-bottom: 1.66667em;
  margin-left: auto;
  margin-right: auto;
}
