@import "../../../../../assets/variables.scss";

.DrawerToggle {
  margin-left: auto;
  background: 0;
  border: 0;
  box-shadow: none;
  color: inherit;
  display: block;
  cursor: pointer;
  font-size: inherit;
  height: 1.66667rem;
  padding: 0;
  width: 1.66667rem;
  overflow: visible;
}

.DrawerToggle div {
  height: 3px;
  width: 90%;
  background-color: black;
  margin: 5px;
}

@media (min-width: $mid-screen) {
  .DrawerToggle {
    display: none;
  }
}
